/* Reddit Image Browser */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body, div, ul, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

ol, ul {
  list-style: none;
}

body {
  font-family: 'Verdana', 'Tahoma', 'Arial', sans-serif;
  background: #dfdfdf;
  overflow-x: hidden;
}

#container {
  text-align: center;
}

h1, h2, h3 {
  color: #252525
}

/* Header */

#header {
  background: #252525;
  text-align: center;
}

#header .content {
  width: 900px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
}

#header h1 {
  float: left;
  margin: 5px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

#header h2 {
  margin-top: 15px;
  color: #aaa;
  float: left;
  font-size: 0.8em;
}

#header h2 span, #header h2 a {
  color: #fff;
}

#header .nav {
  padding-right: 5px;
  padding-top: 6px;
  display: block;
  float: right;
  height: 100%;
}

.nav .drawer-handle {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  z-index: 4;
  background: #eee;
  color: #333;
  text-align: center;
  font-weight: bold;
  text-transform: lowercase;
  border-radius: 5px;
}

.nav .drawer-handle:hover {
  background: #448ccb;
  color: #fff;
  z-index: 6;
}

.nav .active {
  background: #252525 !important;
  color: #eee;
}

.nav .active, .nav .drawer-handle:hover {
  -moz-box-shadow: 0px 0px 3px #fff !important;
  -webkit-box-shadow: 0px 0px 3px #fff !important;
  box-shadow: 0px 0px 3px #fff !important;
}

/* Side Menu */

.side {
  position: absolute;
  z-index: 20;
  overflow-y: auto;
  background: #fff;
  right: -310px;
  top: 0;
  padding: 10px;
  padding-right: 20px;
  width: 300px;
  max-height: 100%;
  min-height: 200px;
  margin: 0 !important;
  border-radius: 10px;
}

#subreddits {
  clear: both;
}

#subreddits li {
  float: left;
}

#subreddits li a {
  display: block;
  margin: 2px;
  color: #fff;
  background: #555;
  padding: 4px 8px;
  border-radius: 5px;
}

#subreddits li a:hover {
  background: #333;
}

#subreddits .active {
  background: #000 !important;
}

#subreddits-controls {
  margin-bottom: 10px;
}

#subreddits-controls a {
  color: #252525;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../img/close.png') no-repeat center center;
}

#subreddits-controls .close span {
  display: none;
}


/* Body */

#loading {
  position: absolute;
  background: #333;
  color: #fff;
  z-index: 4;
  top: 5px;
  right: 20px;
  padding: 5px;
  text-transform: lowercase;
  font-size: 12px;
  border-radius: 3px;
}

#loading span {
  padding-right: 25px;
  background: url('../img/loading-small.gif') no-repeat right center;
}

.scroll {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 80px;
  top: 10px;
  cursor: pointer;
}

#scroll-left {
  left: 0;
  background: url('../img/left.png') no-repeat left center;
}

#scroll-right {
  right: 0;
  background: url('../img/right.png') no-repeat right center;
}

#ribcage {
  position: relative;
  overflow: hidden;
  margin: auto;
  text-align: left;
  width: 900px;
}

a {
  text-decoration: none;
}

#links {
  position: relative;
  overflow: hidden;
  clear: both;
  white-space: nowrap;
  width: 100%;
  height: 82px;
  padding: 5px;
}

#links span:hover {
  cursor: pointer;
}

.thumbnail {
  overflow: hidden;
  display: inline-block;
  background-color: #eee;
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
}

.thumbnail h2 {
  display: none;
}

#links .hover {
  border: 2px solid #448ccb;
}

#links .selected {
  border: 2px solid #555 !important;
}

/* Individual Post */

#post {
  min-height: 200px;
  min-width: 200px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
}

#post img {
  max-width: 860px;
  display: block;
}

#post div {
  position: relative;
  margin: 0 auto;
  display: inline-block;
}

#post a {
  color: #252525;
}

#post iframe {
  width: 860px;
  height: 600px;
  display: block;
}

#post .self-post {
  padding: 20px;
  max-width: 640px;
  background: #fff;
  text-align: left;
  line-height: 25px;
  overflow: auto;
}

#post .self-post a {
  font-style: italic;
  color: #555;
}

.box {
  background: #fff;
  overflow: hidden;
}

.pad {
  margin: 10px 20px;
}

.shadow {
  overflow: hidden;
  -moz-box-shadow: 0px 0px 3px #999 !important;
  -webkit-box-shadow: 0px 0px 3px #999 !important;
  box-shadow: 0px 0px 3px #999 !important;
}

#post .empty-content {
  font-size: 12px;
  text-align: center;
  background: url('../img/open.png') no-repeat center 20px;
  display: block;
  position: relative;
  width: 250px;
  height: 200px;
  overflow: hidden;
  font-style: normal !important;
}

#post .empty-content span {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

#post .empty-content em {
  font-style: normal;
  font-weight: bold;
}

#post .empty-content:hover {
  color: #000;
}

/* Post Meta */

#post-meta {
  padding: 0 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

#post-meta h3 {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  float: left;
  max-width: 640px;
}

#post-meta h3, #post-meta div {
  padding: 5px;
  margin: 0;
}

.meta-ups, .meta-downs {
  padding-right: 5px;
}

.meta-ups:after {
  content: '\25B2';
  color: rgb(255, 139, 36);
}

.meta-downs:after {
  content: '\25BC';
  color: rgb(148, 148, 255);
}

.meta-score {
  padding-right: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #252525;
}

#post-meta div {
  color: #555;
  max-width: 200px;
  font-size: 10px;
  float: right;
}

#post-meta a {
  color: #252525;
}

/* Footer fix */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#footer {
  display: none;
  background: #252525;
  position: relative;
  margin-top: -40px;
  clear: both;
  height: 40px;
}

/* Guide */

#guide {
  color: #fff;
  display: none;
  top: 200px;
  position: absolute;
  z-index: 10;
  max-width: 600px;
  min-height: 300px;
  background: #252525;
  opacity: 0.95;
  padding: 30px;
  -moz-box-shadow: 0px 0px 5px #333 !important;
  -webkit-box-shadow: 0px 0px 5px #333 !important;
  box-shadow: 0px 0px 5px #333 !important;
  border-radius: 5px;
}

#guide h2 {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

#guide span {
  text-align: right;
  padding-right: 20px;
  display: inline-block;
  min-width: 120px;
}

#guide em {
  text-align: center;
  font-weight: bold;
  padding: 3px;
  background: #eee;
  color: #252525;
  display: inline-block;
  font-style: normal;
  margin: 3px;
  min-width: 20px;
  border-radius: 2px;
}

#noty {
  padding-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  position: absolute;
  text-transform: lowercase;
  z-index: 6;
  top: 0px;
}

/* FAQ */

#dark, .page {
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

#dark {
  position: fixed;
  height: 100%;
  background: #252525;
  background: rgba(37, 37, 37, 0.5);
  z-index: 4;
  bottom: 0;
}

.page {
  display: none;
  position: absolute;
  text-align: center;
  z-index: 5;
  cursor: pointer;
}

.page-content {
  font-size: 12px;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  position: relative;
  top: 50px;
  max-width: 640px;
  overflow: auto;
  border-radius: 15px;
  cursor: auto;
}

.page-content div {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
}

.page h2 {
  display: block;
  font-size: 20px !important;
  font-weight: bold;
}

.page h3, .page p {
  margin: 0;
}

.page h3 {
  margin-bottom: 5px;
}

.page p {
  margin-bottom: 10px;
  line-height: 20px;
}

.page a {
  color: #448ccb;
}

.page a:hover {
  text-decoration: underline;
}

.page ul, .page h2 {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 10px;
  color: #ddd;
  background: #252525;
}