/* Reddit Image Browser */

body, div, ul, h1, h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

#ribcage ol, #ribcage ul {
  list-style: none;
}

body {
  font-family: 'Verdana', 'Open Sans', sans-serif;
  background: #dfdfdf;
  overflow-x: hidden;
}

#container {
  text-align: center;
}

#header {
  background: #252525;
  text-align: center;
}

#header .content {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

#header h1 {
  float: left;
  margin: 5px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

#ribcage {
  overflow: hidden;
  margin: auto;
  text-align: left;
  width: 900px;
}

#ribcage a {
  color: #fff;
  text-decoration: none;
}

#subreddits {
  clear: both;
  padding: 10px;
}

#subreddits li {
  float: left;
}

#subreddits li a {
  display: block;
  margin: 2px;
  background: #464646;
  padding: 4px 8px;
  border-radius: 5px;
}

#subreddits li a:hover {
  background: #333;
}

#ribcage .drawer-toggle {
  position: relative;
  top: 30px;
  padding: 5px 10px;
  z-index: 2;
  background: #eee;
  color: #333;
  text-align: center;
  margin-left: 40px;
  font-weight: bold;
  text-transform: lowercase;
  border-radius: 5px;
}

.active {
  background: #333 !important;
  color: #fff !important;
}

.active:after {
  content: " \25B2";
}

.inactive:after {
  content: " \25BC";
}

#links {
  overflow-x: scroll;
  clear: both;
  padding: 10px;
  white-space: nowrap;
}

#links span:hover {
  cursor: pointer;
}

.thumbnail {
  display: inline-block;
  background-color: #eee;
  margin: 5px;
  width: 70px;
  height: 70px;
}

.thumbnail h2 {
  display: none;
}

#post {
  min-height: 200px;
  min-width: 200px;
  text-align: center;
}

#post img {
  max-width: 840px;
  display: block;
}

#post div {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  background: #fff;
}

.box {
  background: #fff;
  overflow: hidden;
  padding: 10px !important;
}

.shadow {
  margin: 20px;
  -moz-box-shadow: 0px 0px 3px #aaa;
  -webkit-box-shadow: 0px 0px 3px #aaa;
  box-shadow: 0px 0px 3px #aaa;
}

/* Footer fix */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#container {
  overflow: auto;
  padding-bottom: 80px;
}

#footer {
  background: #252525;
  position: relative;
  margin-top: -50px;
  clear: both;
  height: 50px;
}